In [75]:
data_path = './parallax/data/'
import pandas as pd
import numpy as np
import math

In [76]:
countries = pd.read_csv(data_path + 'd3_bubbles.csv', na_filter = False)
countries.head()

,CountryName,CountryCode,ContinentCode,CenterLongitude,CenterLatitude,Population,medals
0,Afghanistan,AF,AS,65.0,33.00,32526560,2.0
1,Albania,AL,EU,20.0,41.00,2896680,0.0
2,Algeria,DZ,AF,3.0,28.00,39666520,17.0
3,American Samoa,AS,OC,-170.5,-14.32,55540,0.0
4,Andorra,AD,EU,1.5,42.50,70470,0.0

In [77]:
continents = countries[["CountryName", "ContinentCode"]]
continents = continents.rename(index=str, columns={"CountryName": "Country"})
continents

                                  Country ContinentCode
0                             Afghanistan            AS
1                                 Albania            EU
2                                 Algeria            AF
3                          American Samoa            OC
4                                 Andorra            EU
5                                  Angola            AF
6                                Anguilla            NA
7                     Antigua and Barbuda            NA
8                               Argentina            SA
9                                 Armenia            AS
10                                  Aruba            NA
11                              Australia            OC
12                                Austria            EU
13                             Azerbaijan            AS
14                                Bahamas            NA
15                                Bahrain            AS
16                             Bangladesh            AS
17                               Barbados            NA
18                                Belarus            EU
19                                Belgium            EU
20                                 Belize            NA
21                                  Benin            AF
22                                Bermuda            NA
23                                 Bhutan            AS
24                                Bolivia            SA
25                 Bosnia and Herzegovina            EU
26                               Botswana            AF
27                                 Brazil            SA
28                      Brunei Darussalam            AS
29                               Bulgaria            EU
..                                    ...           ...
195             Taiwan, Province of China            AS
196                            Tajikistan            AS
197                              Tanzania            AF
198                              Thailand            AS
199                           Timor-Leste            AS
200                                  Togo            AF
201                               Tokelau            OC
202                                 Tonga            OC
203                   Trinidad and Tobago            NA
204                               Tunisia            AF
205                                Turkey            AS
206                          Turkmenistan            AS
207              Turks and Caicos Islands            NA
208                                Tuvalu            OC
209                                Uganda            AF
210                               Ukraine            EU
211                  United Arab Emirates            AS
212                        United Kingdom            EU
213                         United States            NA
214  United States Minor Outlying Islands            OC
215                               Uruguay            SA
216                            Uzbekistan            AS
217                               Vanuatu            OC
218                             Venezuela            SA
219                              Viet Nam            AS
220               Virgin Islands, British            NA
221                     Wallis and Futuna            OC
222                                 Yemen            AS
223                                Zambia            AF
224                              Zimbabwe            AF

[225 rows x 2 columns]

In [78]:
#We add some missing countries
new_countries = pd.DataFrame([
        ['United States Virgin Islands', 'NA'], 
        ['Great Britain', 'EU'],
        ['Russia', 'EU'],
        ['Soviet Union', 'EU'],
        ['South Korea', 'AS'],
        ['Yugoslavia', 'EU'],
        ['Czechoslovakia', 'EU'],
        ['Chinese Taipei', 'AS'],
        ['East Germany','EU'],
        ['United States Virgin Islands', 'NA'],
        ['Libya', 'AS'],
        ['West Germany', 'EU'],
        ['North Korea', 'AS'],
        ['Federated States of Micronesia', 'OC']
    ], columns=['Country', 'ContinentCode'])
new_countries

                           Country ContinentCode
0     United States Virgin Islands            NA
1                    Great Britain            EU
2                           Russia            EU
3                     Soviet Union            EU
4                      South Korea            AS
5                       Yugoslavia            EU
6                   Czechoslovakia            EU
7                   Chinese Taipei            AS
8                     East Germany            EU
9     United States Virgin Islands            NA
10                           Libya            AS
11                    West Germany            EU
12                     North Korea            AS
13  Federated States of Micronesia            OC

In [79]:
continents = continents.append(new_countries)
continents

                                  Country ContinentCode
0                             Afghanistan            AS
1                                 Albania            EU
2                                 Algeria            AF
3                          American Samoa            OC
4                                 Andorra            EU
5                                  Angola            AF
6                                Anguilla            NA
7                     Antigua and Barbuda            NA
8                               Argentina            SA
9                                 Armenia            AS
10                                  Aruba            NA
11                              Australia            OC
12                                Austria            EU
13                             Azerbaijan            AS
14                                Bahamas            NA
15                                Bahrain            AS
16                             Bangladesh            AS
17                               Barbados            NA
18                                Belarus            EU
19                                Belgium            EU
20                                 Belize            NA
21                                  Benin            AF
22                                Bermuda            NA
23                                 Bhutan            AS
24                                Bolivia            SA
25                 Bosnia and Herzegovina            EU
26                               Botswana            AF
27                                 Brazil            SA
28                      Brunei Darussalam            AS
29                               Bulgaria            EU
..                                    ...           ...
209                                Uganda            AF
210                               Ukraine            EU
211                  United Arab Emirates            AS
212                        United Kingdom            EU
213                         United States            NA
214  United States Minor Outlying Islands            OC
215                               Uruguay            SA
216                            Uzbekistan            AS
217                               Vanuatu            OC
218                             Venezuela            SA
219                              Viet Nam            AS
220               Virgin Islands, British            NA
221                     Wallis and Futuna            OC
222                                 Yemen            AS
223                                Zambia            AF
224                              Zimbabwe            AF
0            United States Virgin Islands            NA
1                           Great Britain            EU
2                                  Russia            EU
3                            Soviet Union            EU
4                             South Korea            AS
5                              Yugoslavia            EU
6                          Czechoslovakia            EU
7                          Chinese Taipei            AS
8                            East Germany            EU
9            United States Virgin Islands            NA
10                                  Libya            AS
11                           West Germany            EU
12                            North Korea            AS
13         Federated States of Micronesia            OC

[239 rows x 2 columns]

In [80]:
continents.reset_index(drop=True, inplace=True)
continents

                                  Country ContinentCode
0                             Afghanistan            AS
1                                 Albania            EU
2                                 Algeria            AF
3                          American Samoa            OC
4                                 Andorra            EU
5                                  Angola            AF
6                                Anguilla            NA
7                     Antigua and Barbuda            NA
8                               Argentina            SA
9                                 Armenia            AS
10                                  Aruba            NA
11                              Australia            OC
12                                Austria            EU
13                             Azerbaijan            AS
14                                Bahamas            NA
15                                Bahrain            AS
16                             Bangladesh            AS
17                               Barbados            NA
18                                Belarus            EU
19                                Belgium            EU
20                                 Belize            NA
21                                  Benin            AF
22                                Bermuda            NA
23                                 Bhutan            AS
24                                Bolivia            SA
25                 Bosnia and Herzegovina            EU
26                               Botswana            AF
27                                 Brazil            SA
28                      Brunei Darussalam            AS
29                               Bulgaria            EU
..                                    ...           ...
209                                Uganda            AF
210                               Ukraine            EU
211                  United Arab Emirates            AS
212                        United Kingdom            EU
213                         United States            NA
214  United States Minor Outlying Islands            OC
215                               Uruguay            SA
216                            Uzbekistan            AS
217                               Vanuatu            OC
218                             Venezuela            SA
219                              Viet Nam            AS
220               Virgin Islands, British            NA
221                     Wallis and Futuna            OC
222                                 Yemen            AS
223                                Zambia            AF
224                              Zimbabwe            AF
225          United States Virgin Islands            NA
226                         Great Britain            EU
227                                Russia            EU
228                          Soviet Union            EU
229                           South Korea            AS
230                            Yugoslavia            EU
231                        Czechoslovakia            EU
232                        Chinese Taipei            AS
233                          East Germany            EU
234          United States Virgin Islands            NA
235                                 Libya            AS
236                          West Germany            EU
237                           North Korea            AS
238        Federated States of Micronesia            OC

[239 rows x 2 columns]

In [81]:
participants = pd.read_csv(data_path + 'participants3.csv')
participants.head()

,Athlete_unique_url,Athlete,Trigram,Country,Event,Gender,Sport,Gold,Silver,Bronze,Total,Participations
0,/olympics/athletes/aa/hans-aasnaes-1.html,"AasnAs,Hans",NOR,Norway,Summer,Male,Shooting,0,0,0,0,5
1,/olympics/athletes/aa/kjetil-andre-aamodt-1.html,"Aamodt,Kjetil AndrA",NOR,Norway,Winter,Male,Alpine Skiing,4,2,2,8,5
2,/olympics/athletes/ab/abdi-abdirahman-1.html,"Abdirahman,Abdi",USA,United States,Summer,Male,Athletics,0,0,0,0,4
3,/olympics/athletes/ab/anne-abernathy-1.html,"Abernathy,Anne",ISV,United States Virgin Islands,Winter,Female,Luge,0,0,0,0,5
4,/olympics/athletes/ab/carmine-abbagnale-1.html,"Abbagnale,Carmine",ITA,Italy,Summer,Male,Rowing,2,1,0,3,4

In [82]:
results = pd.merge(participants, continents, how='left', on=['Country'])
results.head()

,Athlete_unique_url,Athlete,Trigram,Country,Event,Gender,Sport,Gold,Silver,Bronze,Total,Participations,ContinentCode
0,/olympics/athletes/aa/hans-aasnaes-1.html,"AasnAs,Hans",NOR,Norway,Summer,Male,Shooting,0,0,0,0,5,EU
1,/olympics/athletes/aa/kjetil-andre-aamodt-1.html,"Aamodt,Kjetil AndrA",NOR,Norway,Winter,Male,Alpine Skiing,4,2,2,8,5,EU
2,/olympics/athletes/ab/abdi-abdirahman-1.html,"Abdirahman,Abdi",USA,United States,Summer,Male,Athletics,0,0,0,0,4,NA
3,/olympics/athletes/ab/anne-abernathy-1.html,"Abernathy,Anne",ISV,United States Virgin Islands,Winter,Female,Luge,0,0,0,0,5,NA
4,/olympics/athletes/ab/anne-abernathy-1.html,"Abernathy,Anne",ISV,United States Virgin Islands,Winter,Female,Luge,0,0,0,0,5,NA

In [83]:
results[pd.isna(results['ContinentCode'])]

Empty DataFrame
Columns: [Athlete_unique_url, Athlete, Trigram, Country, Event, Gender, Sport, Gold, Silver, Bronze, Total, Participations, ContinentCode]
Index: []

In [84]:
test = results.groupby(['ContinentCode','Country'],as_index=False).count()
type(test)
test

,ContinentCode,Country,Athlete_unique_url,Athlete,Trigram,Event,Gender,Sport,Gold,Silver,Bronze,Total,Participations
0,AF,Algeria,4,4,4,4,4,4,4,4,4,4,4
1,AF,Angola,6,6,6,6,6,6,6,6,6,6,6
2,AF,Cameroon,2,2,2,2,2,2,2,2,2,2,2
3,AF,Djibouti,1,1,1,1,1,1,1,1,1,1,1
4,AF,Egypt,8,8,8,8,8,8,8,8,8,8,8
5,AF,Equatorial Guinea,1,1,1,1,1,1,1,1,1,1,1
6,AF,Eritrea,3,3,3,3,3,3,3,3,3,3,3
7,AF,Ethiopia,4,4,4,4,4,4,4,4,4,4,4
8,AF,Gabon,2,2,2,2,2,2,2,2,2,2,2
9,AF,Gambia,1,1,1,1,1,1,1,1,1,1,1
10,AF,Ghana,4,4,4,4,4,4,4,4,4,4,4
11,AF,Kenya,6,6,6,6,6,6,6,6,6,6,6
12,AF,Mauritius,1,1,1,1,1,1,1,1,1,1,1
13,AF,Mozambique,1,1,1,1,1,1,1,1,1,1,1
14,AF,Nigeria,5,5,5,5,5,5,5,5,5,5,5
15,AF,Rwanda,1,1,1,1,1,1,1,1,1,1,1
16,AF,Senegal,4,4,4,4,4,4,4,4,4,4,4
17,AF,Seychelles,1,1,1,1,1,1,1,1,1,1,1
18,AF,South Africa,5,5,5,5,5,5,5,5,5,5,5
19,AF,Tunisia,2,2,2,2,2,2,2,2,2,2,2
20,AF,Zambia,1,1,1,1,1,1,1,1,1,1,1
21,AF,Zimbabwe,1,1,1,1,1,1,1,1,1,1,1
22,AS,Azerbaijan,1,1,1,1,1,1,1,1,1,1,1
23,AS,China,31,31,31,31,31,31,31,31,31,31,31
24,AS,Chinese Taipei,9,9,9,9,9,9,9,9,9,9,9
25,AS,Cyprus,4,4,4,4,4,4,4,4,4,4,4
26,AS,Georgia,5,5,5,5,5,5,5,5,5,5,5
27,AS,Hong Kong,4,4,4,4,4,4,4,4,4,4,4
28,AS,India,15,15,15,15,15,15,15,15,15,15,15
29,AS,Indonesia,4,4,4,4,4,4,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,NA,Bermuda,3,3,3,3,3,3,3,3,3,3,3
101,NA,Canada,74,74,74,74,74,74,74,74,74,74,74
102,NA,Cayman Islands,1,1,1,1,1,1,1,1,1,1,1
103,NA,Cuba,20,20,20,20,20,20,20,20,20,20,20
104,NA,Dominican Republic,1,1,1,1,1,1,1,1,1,1,1
105,NA,Guatemala,3,3,3,3,3,3,3,3,3,3,3
106,NA,Haiti,1,1,1,1,1,1,1,1,1,1,1
107,NA,Jamaica,15,15,15,15,15,15,15,15,15,15,15
108,NA,Mexico,23,23,23,23,23,23,23,23,23,23,23
109,NA,Puerto Rico,9,9,9,9,9,9,9,9,9,9,9
110,NA,Saint Kitts and Nevis,1,1,1,1,1,1,1,1,1,1,1
111,NA,Trinidad and Tobago,7,7,7,7,7,7,7,7,7,7,7
112,NA,United States,157,157,157,157,157,157,157,157,157,157,157
113,NA,United States Virgin Islands,12,12,12,12,12,12,12,12,12,12,12
114,OC,Australia,89,89,89,89,89,89,89,89,89,89,89
115,OC,Federated States of Micronesia,1,1,1,1,1,1,1,1,1,1,1
116,OC,Fiji,3,3,3,3,3,3,3,3,3,3,3
117,OC,New Zealand,25,25,25,25,25,25,25,25,25,25,25
118,OC,Papua New Guinea,2,2,2,2,2,2,2,2,2,2,2
119,SA,Argentina,37,37,37,37,37,37,37,37,37,37,37
120,SA,Bolivia,1,1,1,1,1,1,1,1,1,1,1
121,SA,Brazil,72,72,72,72,72,72,72,72,72,72,72
122,SA,Chile,7,7,7,7,7,7,7,7,7,7,7
123,SA,Colombia,12,12,12,12,12,12,12,12,12,12,12
124,SA,Ecuador,3,3,3,3,3,3,3,3,3,3,3
125,SA,Guyana,1,1,1,1,1,1,1,1,1,1,1
126,SA,Peru,4,4,4,4,4,4,4,4,4,4,4
127,SA,Suriname,1,1,1,1,1,1,1,1,1,1,1
128,SA,Uruguay,3,3,3,3,3,3,3,3,3,3,3
129,SA,Venezuela,7,7,7,7,7,7,7,7,7,7,7

In [85]:
#test[pd.isna(test['ContinentCode'])]
test[test['ContinentCode'] == "NA"]

,ContinentCode,Country,Athlete_unique_url,Athlete,Trigram,Event,Gender,Sport,Gold,Silver,Bronze,Total,Participations
97,NA,Antigua and Barbuda,2,2,2,2,2,2,2,2,2,2,2
98,NA,Bahamas,14,14,14,14,14,14,14,14,14,14,14
99,NA,Barbados,1,1,1,1,1,1,1,1,1,1,1
100,NA,Bermuda,3,3,3,3,3,3,3,3,3,3,3
101,NA,Canada,74,74,74,74,74,74,74,74,74,74,74
102,NA,Cayman Islands,1,1,1,1,1,1,1,1,1,1,1
103,NA,Cuba,20,20,20,20,20,20,20,20,20,20,20
104,NA,Dominican Republic,1,1,1,1,1,1,1,1,1,1,1
105,NA,Guatemala,3,3,3,3,3,3,3,3,3,3,3
106,NA,Haiti,1,1,1,1,1,1,1,1,1,1,1
107,NA,Jamaica,15,15,15,15,15,15,15,15,15,15,15
108,NA,Mexico,23,23,23,23,23,23,23,23,23,23,23
109,NA,Puerto Rico,9,9,9,9,9,9,9,9,9,9,9
110,NA,Saint Kitts and Nevis,1,1,1,1,1,1,1,1,1,1,1
111,NA,Trinidad and Tobago,7,7,7,7,7,7,7,7,7,7,7
112,NA,United States,157,157,157,157,157,157,157,157,157,157,157
113,NA,United States Virgin Islands,12,12,12,12,12,12,12,12,12,12,12

In [87]:
test['ContinentCode'].unique()

array(['AF', 'AS', 'EU', 'NA', 'OC', 'SA'], dtype=object)

In [86]:
results.to_csv("./parallax/data/participants.csv", index=False, encoding='UTF-8')